* {
  box-sizing: border-box;
}

body {
  font-size: 40px;
}

.block, .inline {
  background-color: #eee;
}

/* ===================================================================== */

.block {
  max-width: 750px;
  max-height: 200px;
  overflow: auto;
}

.inline {
  visibility: hidden;
}

.img {
  opacity: 0.3;
}