* {
  box-sizing: border-box;
}

body {
  font-size: 40px;
}

.block, .inline {
  background-color: #eee;
}

/* ===================================================================== */

.block {
  width: 750px;
  display: inline-block;
}

.inline {
  display: block;
  max-width: 750px;
}

.img {
  display: none;
}