* {
  box-sizing: border-box;
}

body {
  font-size: 40px;
}

.block, .inline {
  background-color: #eee;
}

/* ===================================================================== */

.block {
  margin-top: 30px;
  margin-right: 200px;
  margin-bottom: 0px;
  margin-left: 100px;
}

/* .inline {} */

.img {
  margin: -288px 0 0 150px;
}